@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

@import url('https://api.fontshare.com/v2/css?f[]=switzer@2,1&f[]=supreme@2,1&f[]=pilcrow-rounded@1&display=swap');

body {
  margin: 0px;
  background: #FFFFFF;
}

svg {
  fill: #000000;
}

h1 {
  font-family: 'Supreme', system-ui;
  letter-spacing: -2px;
  font-weight: bold;
  line-height: 40px;
}

h2 {
  font-family: 'Supreme', system-ui;
  letter-spacing: -2px;
  font-weight: bold;
}

.--global-nav {
  position: fixed;
  position: -webkit-fixed;
  top: 0px;
  width: 100%;
  height: 85px;
  overflow: hidden;
  background: #000000;
  margin: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  z-index: 1000;
}

.--global-home-highlight {
  width: 100%;
  height: 65vh;
  text-align: left;
  margin-bottom: 20px;
  background: #000000;
}

.--global-home-cont {
  width: calc(33% - 20px);
  text-align: left;
  display: inline-block;
}

.--global-article-sd {
  width: calc(100% - 40px);
  height: 120px;
  text-align: left;
  border-bottom: solid 1px #ABABAB;
  overflow: hidden;
}

.--h-c-left {
  float: left;
  position: relative;
  left: 20px;
}

.--h-c-right {
  float: right;
  position: relative;
  right: 20px;
}

.--global-article-preview {
  background: #CCCCCC;
  width: 100%;
  height: 40vh;
   
}

.--global-article-preview-highlight {
  background: #CCCCCC;
  width: 100%;
  height: 70vh;
  margin: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.--global-article-preview-sd {
  background: #CCCCCC;
  width: 200px;
  height: 100px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  float: left;
}

.nav-mobile {
    width: 100%; 
    height: 35px;
    background: #000000;
  color: #FFFFFF;
    position: fixed;
    position: -webkit-fixed;
    top: 60px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 auto;
    z-index: 100000000;
  }

.nav-mobile::-webkit-scrollbar {
  display: none;
}

.--global-menu {
  width: 30%;
  height: 100%;
  background: #000000;
  float: right;
  position: fixed;
  position: -webkit-fixed;
  top: 0px;
  right: 0px;
  z-index: 100000000;
}

.--global-footer {
  width: 100%;
  height: auto;
  background: #000000;
  color: #FFFFFF;
  text-align: left;
  overflow: hidden;
}

.footer-column {
  display: inline-block;
  float: left;
  margin-left: 20px;
}

.--global-article-main {
  width: 80%;
  max-width: 710px;
  text-align: left;
}

.--global-title {
  margin-top: 20px;
  font-family: 'Supreme', system-ui;
  letter-spacing: -2px;
  font-size: 70px;
  line-height: 60px;
  text-align: center;
  font-weight: 900;
}

.--global-headline {
  margin-top: -35px;
  font-family: 'Supreme', system-ui;
  letter-spacing: -1px;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
}

.--global-authorinfo {
  margin-top: -6px;
  font-family: 'Pilcrow Rounded', system-ui;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.--global-imgsource {
  margin-top: -12px;
  font-family: 'Pilcrow Rounded', system-ui;
  font-size: 16px;
  color: #ABABAB;
}

.--global-artpic {
  background: #CCCCCC;
  width: 100%;
  height: 80vh;
  margin-top: -10px;
}

.--global-disclaimer {
  width: 100%;
  height: auto;
  border-top: solid 1px #000000;
  border-bottom: solid 1px #000000;
}

.--global-body {
  font-family: 'Supreme', system-ui;
  letter-spacing: -1px;
  text-align: left;
  font-size: 20px;
}

.--global-a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer !important;
}

.--global-article-list {
  width: 100%;
  height: 120px;
  text-align: left;
  border-bottom: solid 1px #ABABAB;
  overflow: hidden;
}

.--global-touch {
  cursor: pointer;
}

.--global-newsletter-cta {
  font-size: 28px;
  font-style: italic;
  margin-top: -50px;
}

.--global-goto-btn {
  width: calc(100% - 40px); 
  height: 65px;
  background: #000000;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-family: 'Pilcrow Rounded', system-ui;
  text-transform: uppercase;
  cursor: pointer;
  transition: linear 110ms;
  font-size: 16px;
  font-weight: 600;
}

.--global-goto-btn:hover {
  background: transparent;
  color: #000000;
  border: solid 1.5px #000000;
}

@media screen and (max-width: 600px) {
  .--global-home-cont {
  width: calc(100% - 40px);
  text-align: left;
    display: block;
}
  
  .--h-c-left {
  float: none;
  position: relative;
  left: 0px;
}

.--h-c-right {
  float: none;
  position: relative;
  right: 0px;
}
  
  .--global-article-preview-sd {
  width: 100px;
  height: 80px;
}
  
  .--global-home-highlight {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
    height: 40vh;
}
  
  .--global-article-preview-highlight {
  background: #CCCCCC;
  width: 100%;
  height: 60vh;
}
  
  .--global-menu {
    width: 92%;
  }
  
  .footer-column {
  display: block;
}
  
  .--global-article-main {
    width: calc(100% - 40px);
  }
  
  .--global-title {
    margin-top: 10px;
  font-size: 36px;
    line-height: 40px;
}
  .--global-headline {
  margin-top: -25px;
  font-size: 22px;
    line-height: 30px;
}
  
  .--global-artpic {
    height: 40vh;
  }
  
  .--global-newsletter-cta {
  font-size: 20px;
  font-style: italic;
    margin-top: -30px;
}
}

.reveal {
    opacity: 0;
    -webkit-animation: reveal 0.4s cubic-bezier(0,  1,  0.5,  1) 1 normal forwards;
    animation: reveal 0.4s cubic-bezier(0,  1,  0.5,  1) 1 normal forwards;
}

.slide {
    opacity: 0;
    -webkit-animation: slide 0.4s cubic-bezier(0,  1,  0.5,  1) 1 normal forwards;
    animation: slide 0.4s cubic-bezier(0,  1,  0.5,  1) 1 normal forwards;
}

@-webkit-keyframes reveal {
    0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
}@-moz-keyframes reveal {
    0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
}@-o-keyframes reveal {
    0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
}@keyframes reveal {
    0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
}

@-webkit-keyframes slide {
    0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
}@-moz-keyframes slide {
    0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
}@-o-keyframes slide {
    0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
}@keyframes slide {
    0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
}
